
<div class="causes-wrapper">
  <div class="container">
    <div class="section-name one">
      <h2>App Features</h2>
      <div class="short-text">
        <h5>Our App on Google Play Store</h5>
      </div>
    </div>
    <div class="causes">
      <div class="causes-list row">
        <div class="cause-wrapper col-md-4 col-xs-12 col-sm-6 legal health">
          <div class="cause content-box">
            <div class="img-wrapper">
              <div class="overlay">
              </div>
              <img class="img-responsive" src="{{ .Site.BaseURL }}img/causes/img-1.jpg" alt="">
            </div>
            <div class="info-block">
              <h4>Stop Chilldern Abuse</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur deleniti fuga ear</p>
            </div>
          </div>
        </div>
        <div class="cause-wrapper col-md-4 col-xs-12 col-sm-6 education poor health legal">
          <div class="cause content-box">
            <div class="img-wrapper">
              <div class="overlay">
              </div>
              <img class="img-responsive" src="{{ .Site.BaseURL }}img/causes/img-2.jpg" alt="">
            </div>
            <div class="info-block">
              <h4>Don't Hurt Me, Please!</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur deleniti fuga ear</p>
            </div>
          </div>
        </div>
        <div class="cause-wrapper col-md-4 col-xs-12 col-sm-6 ugent poor animals-wildlife hidden-sm  ">
          <div class="cause content-box">
            <div class="img-wrapper">
              <div class="overlay">
              </div>
              <img class="img-responsive" src="{{ .Site.BaseURL }}img/causes/img-3.jpg" alt="">
            </div>
            <div class="info-block">
              <h4>A Better Life for Disabled</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur deleniti fuga ear</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- work togather -->
<div class="donation-wrapper-home work_togathers ">
  <div class="parallax-mask"></div>
  <div class="container">
    <div class="work_togather">
      <h2>{{ $.Site.Params.staticimagetagline | safeHTML }}</h2>
      <h1>{{ $.Site.Params.staticimageheader }}</h1>
    </div>
  </div>
</div>
