<section  class="blog-area blog-post-wrapper">
  <div class="container">
    <div class="section-name one">
      <h2>Recent News</h2>
      <div class="short-text">
        <h5>boridiatat non proident sunt in culpa qui officia</h5>
      </div>
    </div>
    <div class="row">
      <!-- Blog Single -->
      <div class="col-md-4 col-sm-6">
        <div class="blog-box">
          <div class="blog-top-desc">
            <div class="blog-date">
              27 july 2017
            </div>
            <h4>Helping kids Grow up Stronger</h4>
            <i class="fa fa-user-o"></i> <strong>Admin</strong>
            <i class="fa fa-commenting-o"></i> <strong>12 Comments</strong>
          </div>
          <img src="{{ .Site.BaseURL }}img/blog/img-1.jpg" alt="">
          <div class="blog-btm-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nam, necessitatibus odio dignissimos nostrum unde iure veniam.</p>
            <a href="#" class="btn btn-min btn-solid"> Read More  <i class="fa fa-arrow-right"></i> </a>
          </div>
        </div>
      </div>
      <!-- Blog Single -->
      <!-- Blog Single -->
      <div class="col-md-4 col-sm-6">
        <div class="blog-box">
          <div class="blog-top-desc">
            <div class="blog-date">
              20 july 2017
            </div>
            <h4>Helping kids Grow up Stronger</h4>
            <i class="fa fa-user-o"></i> <strong>Admin</strong>
            <i class="fa fa-commenting-o"></i> <strong>10 Comments</strong>
          </div>
          <img src="{{ .Site.BaseURL }}img/blog/img-3.jpg" alt="">
          <div class="blog-btm-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nam, necessitatibus odio dignissimos nostrum unde iure veniam.</p>
            <a href="#" class="btn btn-min btn-solid"> Read More  <i class="fa fa-arrow-right"></i> </a>
          </div>
        </div>
      </div>
      <!-- Blog Single -->
      <!-- Blog Single -->
      <div class="col-md-4 col-sm-4 hidden-sm">
        <div class="blog-box">
          <div class="blog-top-desc">
            <div class="blog-date">
              17 july 2017
            </div>
            <h4>Helping kids Grow up Stronger</h4>
            <i class="fa fa-user-o"></i> <strong>Admin</strong>
            <i class="fa fa-commenting-o"></i> <strong>8 Comments</strong>
          </div>
          <img src="{{ .Site.BaseURL }}img/blog/img-2.jpg" alt="">
          <div class="blog-btm-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nam, necessitatibus odio dignissimos nostrum unde iure veniam.</p>
            <a href="#" class="btn btn-min btn-solid"> Read More  <i class="fa fa-arrow-right"></i> </a>
          </div>
        </div>
      </div>
      <!-- Blog Single -->

    </div>
  </div>
</section>
