<!--template Google map code Here-->
<!-- {{ template "_internal/google_analytics.html" . }}
{{ if .Site.Params.googleMapsApiKey }}
<script src="//maps.googleapis.com/maps/api/js?key={{.Site.Params.googleMapsApiKey}}&v=3.exp"></script>
{{ else }}
<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
{{ end }} -->

<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery2.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.meanmenu.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/progress-bar-appear.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/nivo-lightbox.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/isotope.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/countdown.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBEypW1XtGLWpikFPcityAok8rhJzzWRw "></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/gmaps.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/plugins.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/js.js"></script>
